<app-ui-preloader [display]="loading" *ngIf="displayLoader"></app-ui-preloader>
<div class="row">
    <div class="col-12">
        <div class="card-box">
            <!--  <h4 class="header-title mb-4">Teams</h4>
           <p>Work in process</p>    -->                 
           
            <button (click)="addTeam()" type="button" class="btn btn-sm btn-blue waves-effect waves-light float-right">
                <i class="mdi mdi-plus-circle"></i> Add Team
            </button>
            <h4 class="header-title mb-4">Teams</h4>
{{data.lenght}}            
            <table class="table table-hover m-0 table-centered dt-responsive nowrap w-100" id="tickets-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
               <tr>
                    <th>
                        ID
                    </th>
                    <th>Team Name</th>
                    <th>Level</th>
                    <th>Players</th>
                    <th>Coaches</th>
                    <th>Managers</th>
                    <th>Season</th>
                    <th>Sport</th>
                    <th class="hidden-sm">Action</th>
                </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let Teamdata of data let i = index;">
                    
                        <td><b>{{i+1}}</b></td>
                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Teamdata.team_name}}</span>
                            </a>
                        </td>
    
                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Teamdata.level}}</span>
                            </a>
                        </td>
                        
                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Teamdata.players_count}}</span>
                            </a>
                        </td>

                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Teamdata.coaches_count}}</span>
                            </a>
                        </td>

                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Teamdata.managers_count}}</span>
                            </a>
                        </td>

                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Teamdata.season_lable}}</span>
                            </a>
                        </td>

                        
                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Teamdata.sport_name}}</span>
                            </a>
                        </td>
     
                        <td>
                            <div class="btn-group dropdown">
                                <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" (click)="viewTeam(Teamdata.team_id)"><i class="mdi mdi-eye mr-2 text-muted font-18 vertical-middle"></i>View</a>                                    
                                    <a class="dropdown-item" (click)="editTeam(Teamdata.team_id)"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit</a>
                                    <a class="dropdown-item" (click)="deleteTeam(Teamdata.team_id,Teamdata.team_name)"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>

                                </div>
                            </div>
                        </td>    
                    </tr>     

                </tbody>
            </table>
            
        </div>
    </div><!-- end col -->
</div>
<!-- end row -->


