<app-ui-preloader [display]="loading" *ngIf="displayLoader"></app-ui-preloader>
<div class="row">
        <div class="col-lg-6">
            <div class="card-box">
                <h4 class="header-title mb-4">Add Sport</h4>
                <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">Sport Details</h5>
                
                <form class="needs-validation" name="createsportsForm" [formGroup]="createsportsForm"
                (ngSubmit)="onSubmit(createsportsForm)" novalidate>

                <div class="form-group mb-3">
                    <label for="country_code">Create<span class="text-danger">*</span></label>
                    <ng-select [items]="countryCodeSelect"
                    bindLabel="name" bindValue="country_code"
                    id="country_code" name="country_code" formControlName="country_code"
                    placeholder="Select country"  [ngClass]="{ 'is-invalid': submitted && f.country_code.errors }">
                    </ng-select>
                <!--    
                    <select class="form-control select2" id="country_code" name="country_code" formControlName="country_code" [ngClass]="{ 'is-invalid': submitted && f.country_code.errors }">
                        <option value="" disabled selected >Select Country</option>
                        <option *ngFor="let Countrydata of countryCodeSelect let i = index;" value="{{Countrydata.country_code}}">{{Countrydata.name}}</option>
                    </select>
                -->
                    <div *ngIf="submitted && f.country_code.errors" class="invalid-feedback">
                        <div *ngIf="f.country_code.errors.required">Country Name is required.</div>
                    </div>
                </div>
  
                <div class="form-group mb-3">
                    <label for="name">Sport Name<span class="text-danger">*</span></label>
                    <input type="text" id="name" name="name" formControlName="name" class="form-control" placeholder="Enter sport name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Sport Name is required.</div>
                    </div>
                
                </div>
 
             
  
                <div class="col-12">
                    <div class="text-center mb-3">
                        <button (click)="listSports()" type="button" class="btn w-sm btn-light waves-effect" style="float: left;">Cancel</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn w-sm btn-success ml-1" style="float: right;">Save</button>
                    </div>
                </div> <!-- end col -->
    
            </form>    
            </div> <!-- end card-box -->
        </div> <!-- end col -->
 
    </div>
    <!-- end row -->