   <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 p-0">
          <div class="card mb-0 px-3 minHeightForCard">
            <app-ui-preloader [display]="loading" *ngIf="displayLoader" [loaderInfo]="loaderInfo.asObservable()"></app-ui-preloader>               
            <div class="card-body paddingCard" *ngIf="!displayLoader">
              <form class="needs-validation" name="createCannedResponseForm" [formGroup]="createCannedResponseForm"
                (ngSubmit)="onSubmit(createCannedResponseForm)" novalidate>                
                <div class="row mb-2">
                  <h3 class="headingTitle">Add Canned Response</h3>
                </div>
                <div class="row mb-2">
                  <button type="submit" class="btn btn-dark waves-effect waves-light"
                  (click)="save('up')">Save</button>&nbsp;&nbsp;&nbsp;
                  <button type="submit" class="btn btn-dark waves-effect waves-light"  (click)="saveNew('up')">Save &
                    New</button>&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-dark waves-effect waves-light m-l-10"
                    (click)="goBack()">Cancel</button>
                </div>
                <ngb-alert type="danger" *ngIf="error && isSaveUp" class="margin sdkErrorInUpperTag" [dismissible]="true" (click)=closeError()>{{error}}
                </ngb-alert>
               <div class="row">
                  <div class="col-12  mt-2 heading">
                    <h4>Canned Response Details</h4>
                  </div>
                </div>
               
                <div class="row">
                  <div class="col-3 mt-2 label-border-height allColMaxWidth">
                    <label class="for-label-req" for="name">Canned Response Name</label>
                  </div>
                  <div class="col-4 mt-2" id="customHeight">
                    <input type="text" formControlName="name" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" name="name" id="name"
                      placeholder="Enter canned response name" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name?.errors.required">Canned Response Name is required.</div>
                      
                    </div>
                  </div>
  
                </div>
                <div class="row">
                    <div class="col-3 mt-2 label-border-Description allColMaxWidth">
                      <label class="for-label-Description" for="cannedResponseDesc">Canned Response Description</label>
                    </div>
                    <div class="col-4 mt-2" id="customHeight">
                        <!-- <div id="snow-editor" style="height: 300px;" (input)="cannedResDesc($event)">
                           

                        </div> -->
                        <textarea formControlName="cannedResponseDesc" class="form-control" row="16" cols="64" name="cannedResponseDesc" id="cannedResponseDesc"
                        placeholder="Enter canned response description"></textarea> 

                        <div *ngIf="f.cannedResponseDesc?.errors?.required && submitted" class="input-error-msg text-danger" >Canned Response Description is required.</div>                        
                     
                    </div>
    
                  </div>
                  <div class="row">
                    <div class="col-3 mt-2 label-border-height allColMaxWidth">
                      <label class="for-label-req" for="first_name">Sport</label>
                    </div>
                    <div class="col-4 mt-2" id="customHeight">
                      <ng-select [items]="SportsList" formControlName="sports_id" bindLabel="name"
                      [loading]="sportSelect" (focus)="selectedSport($event,createCannedResponseForm)"
                      [clearable]="false" (change)="selectedSport($event,createCannedResponseForm)"
                      bindValue="sport_id" placeholder="Select sport">
                  </ng-select>
                  <div *ngIf="f.sports_id?.errors?.required && submitted" class="input-error-msg text-danger">
                      Select Sport.
                  </div>
                    </div>
                  </div>
                  <ngb-alert type="danger" *ngIf="error && !isSaveUp" class="margin mt-2 sdkErrorInDownTag" [dismissible]="true" (click)=closeError()>{{error}}
                  </ngb-alert>
                <div class="row mt-3">
                  <button type="submit" class="btn btn-dark waves-effect waves-light"
                    (click)="save('down')">Save</button>&nbsp;&nbsp;&nbsp;
                  <button type="submit" class="btn btn-dark waves-effect waves-light" (click)="saveNew('down')">Save &
                    New</button>&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-dark waves-effect waves-light m-l-10"
                    (click)="goBack()">Cancel</button>
                </div>
               
              </form>
  
            </div> <!-- end card-body -->
          </div> <!-- end card-->
        </div>
      </div>
    </div>
  