<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="card mb-0 minHeightForCard">
                <div class="card-body py-1 px-2">
                    <h3 class="mb-2 headingTitle">Dashboard</h3>

                    <div class="row">
                        <div class="col-12">

                            <div class="removeShadow">


                                <p> Coming soon!</p>

                            </div>

                        </div><!-- end col -->
                    </div>



                </div>

            </div>
        </div>
    </div>
</div>