
#containerTop { 
    margin-top: 14px;
    width: 32px; 
    height: 32px; 
    border-radius: 100px; 
    background: #a77474; 
   } 
  
    #name { 
    text-align: center; 
   color: white; 
    line-height: 34px; 
   } 
  
    #profileDropdown{ 
  display: inline-flex 
   } 
   .select{
     margin: 11px 0px;
   }
   .margin{
    margin: 6px 5px;
    font-size: 15px;
   }