<app-ui-preloader [display]="loading" *ngIf="displayLoader"></app-ui-preloader>
<div class="row">
    <div class="col-lg-6">
        <div class="card-box">
            <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">Coach Custom Meta Field Details                </h5>

            <div class="form-group mb-3">
                <label for="product-name" style="width:200px;">Sport </label>
                 
                <div class=" form-check-inline">
                    <label for="inlineRadio2"> {{getAllPlayermetaData.sport}} </label>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="product-reference" style="width:200px;">Field Name </label>
                
                <div class=" form-check-inline">
                    <label for="inlineRadio2"> {{getAllPlayermetaData.field_name}} </label>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="product-name" style="width:200px;">Field Type </label>
                
                <div class=" form-check-inline">
                    <label for="inlineRadio2"> {{getAllPlayermetaData.field_type}} </label>
                </div>
            </div>

            
            <div class="form-group mb-3">
                <label for="product-name" style="width:200px;">Field Value(s) </label>
                
                <div class=" form-check-inline">
                    <label for="inlineRadio2"> {{getAllPlayermetaData.value}} </label>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="product-reference" style="width:200px;">Is Required </label>
                
                <div class=" form-check-inline" *ngIf="getAllPlayermetaData.is_required === 'true'"><span class="badge badge-success" >Yes</span></div>
                <div class=" form-check-inline" *ngIf="getAllPlayermetaData.is_required === 'false'"><span class="badge badge-warning" >No</span></div>
            </div>

            <div class="form-group mb-3">
                <label for="product-name" style="width:200px;">Is Editable </label>
                
                <div class=" form-check-inline" *ngIf="getAllPlayermetaData.is_editable === 'true'"><span class="badge badge-success" >Yes</span></div>
                <div class=" form-check-inline" *ngIf="getAllPlayermetaData.is_editable === 'false'"><span class="badge badge-warning" >No</span></div>
            </div>

            <div class="form-group mb-3">
                <label for="product-name" style="width:200px;">Is Deletable  </label>
                
                <div class=" form-check-inline" *ngIf="getAllPlayermetaData.is_deletable === 'true'"><span class="badge badge-success" >Yes</span></div>
                <div class=" form-check-inline" *ngIf="getAllPlayermetaData.is_deletable === 'false'"><span class="badge badge-warning" >No</span></div>
            </div>

            <div class="col-12">
                <div class="text-center mb-3">
                    <button (click)="listCoachmeta()" type="button" class="btn w-sm btn-light waves-effect" style="float:left;">Cancel</button>
                    
                    <button (click)="editCoachmeta(getAllPlayermetaData.field_id)" type="button" class="btn w-sm btn-success ml-1" style="float:right;">Edit</button>
                </div>
            </div> <!-- end col -->


        </div> <!-- end card-box -->
    </div> <!-- end col -->

</div>
<!-- end row -->