<app-ui-preloader [display]="loading" *ngIf="displayLoader"></app-ui-preloader>
<div class="row">
    <div class="col-12">
        <div class="card-box">
            
            <button (click)="addOrganization()" type="button" class="btn btn-sm btn-blue waves-effect waves-light float-right">
                <i class="mdi mdi-plus-circle"></i> Add Organization
            </button>
            
            <h4 class="header-title mb-4">Organizations</h4>
            <!--
                <table class="table table-hover m-0 table-centered dt-responsive nowrap w-100" id="tickets-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            -->

           
            <table class="table table-hover m-0 table-centered dt-responsive nowrap w-100" id="tickets-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Organization Name</th>
                    <th>Abbreviation</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Email</th>                    
                    <th>Mobile</th>
                    <th class="hidden-sm">Action</th>
                </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let Playerdata of data let i = index;">
                    
                        <td><b>{{i+1}}</b></td>
                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Playerdata.name}}</span>
                            </a>
                        </td>
    
                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Playerdata.abbrev | uppercase}}</span>
                            </a>
                        </td>
                        
                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Playerdata.state}}</span>
                            </a>
                        </td>
    
                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Playerdata.country}}</span>
                            </a>
                        </td>
    
                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Playerdata.email_address}}</span>
                            </a>
                        </td>
    
                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">
                                    {{Playerdata.dial_code}} - {{Playerdata.mobile_phone | mask: '(000) 000-0000' || "-"}}
                                </span>
                            </a>
                        </td>
    
                    
                    
                        <td>
                            <div class="btn-group dropdown">
                                <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" (click)="viewOrganization(Playerdata._id)"><i class="mdi mdi-eye mr-2 text-muted font-18 vertical-middle"></i>View</a>
                                    <!--<a class="dropdown-item" (click)="viewOrganization(Playerdata.organization_id)"><i class="mdi mdi-eye mr-2 text-muted font-18 vertical-middle"></i>View</a>-->
                                    <a class="dropdown-item" (click)="editOrganization(Playerdata._id)"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit</a>
                                </div>
                            </div>
                        </td>    
                    </tr>     

                </tbody>
            </table>
        </div>
    </div><!-- end col -->
</div>
<!-- end row -->


