#playerHeight{
    margin-bottom: -27px !important;
}
.label-border-height {
    background: none !important;
    border: none !important;
}

.for-label-req {
    color: black !important;
    float: left !important;
}

.mt-2{
    float: left !important;
}
/*
#multiplayerbox, #multicoachbox, #multimanagerbox {
    display: none !important;
}
*/