<app-ui-preloader [display]="loading" *ngIf="displayLoader"></app-ui-preloader>
<div class="row">
        <div class="col-lg-6">
            <div class="card-box">
                <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">Edit Level Details</h5>
                
                <form class="needs-validation" name="createlevelForm" [formGroup]="createlevelForm"
                (ngSubmit)="onSubmit(createlevelForm)" novalidate>

                <div class="form-group mb-3">
                    <label for="sport_id"> Sport<span class="text-danger">*</span></label>
                    <select class="form-control select2" [ngModel]="getLevelValueArray.sport_id" id="sport_id" name="sport_id" formControlName="sport_id" [ngClass]="{ 'is-invalid': submitted && f.sport_id.errors }">
                        <option value="" disabled selected >Select Sport</option>
                        <option *ngFor="let SportData of getSportsArray let i = index;" value="{{SportData.sport_id}}">{{SportData.name}}</option>
                    </select>
                    <div *ngIf="submitted && f.sport_id.errors" class="invalid-feedback">
                        <div *ngIf="f.sport_id.errors.required">Sport Name is required.</div>
                    </div>
                </div>
  
                <div class="form-group mb-3">
                    <label for="level_name">Level Name<span class="text-danger">*</span></label>
                    <input type="text" [ngModel]="getLevelValueArray.level_name" id="level_name" name="level_name" formControlName="level_name" class="form-control" placeholder="Enter Level Name" [ngClass]="{ 'is-invalid': submitted && f.level_name.errors }"/>
                    <div *ngIf="submitted && f.level_name.errors" class="invalid-feedback">
                        <div *ngIf="f.level_name.errors.required">Level Name is required.</div>
                    </div>
                
                </div>
               
                <div class="form-group mb-3">
                    <label for="abbreviation">Abbreviation<span class="text-danger">*</span></label>
                    <input type="text" [ngModel]="getLevelValueArray.abbreviation" id="abbreviation" name="abbreviation" formControlName="abbreviation" class="form-control" placeholder="Enter Abbreviation" [ngClass]="{ 'is-invalid': submitted && f.abbreviation.errors }"/>
                    <div *ngIf="submitted && f.abbreviation.errors" class="invalid-feedback">
                        <div *ngIf="f.abbreviation.errors.required">Abbreviation is required.</div>
                    </div>                
                </div>

                
                <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <input type="text" [ngModel]="getLevelValueArray.description" id="description" name="description" formControlName="description" class="form-control" placeholder="Enter Description" />
                    <!--
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Description is required.</div>
                    </div>                
                    -->
                </div>
 
             
  
                <div class="col-12">
                    <div class="text-center mb-3">
                        <button (click)="listLevel()" type="button" class="btn w-sm btn-light waves-effect" style="float: left;">Cancel</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn w-sm btn-success ml-1" style="float: right;">Save</button>
                    </div>
                </div> <!-- end col -->
    
            </form>    
            </div> <!-- end card-box -->
        </div> <!-- end col -->
 
    </div>
    <!-- end row -->