<div class="wrapper">
  <div class="container-fluid">
    <app-page-title title="Position Skill" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <ngb-alert *ngIf="successMessage" class="customAlert" type="warning" (close)="successMessage = null">{{ successMessage }}</ngb-alert>   
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <!-- <h4 class="header-title">Organization</h4> -->
         <app-ui-preloader [display]="loading"></app-ui-preloader>
          <div class="row mb-2">
              <div class="col-sm-4">
                  <a  [routerLink]="['/positionskill/create']" [queryParams]="{ sport_id: sportId }" 
                   class="btn btn-dark waves-effect waves-light"><i
                          class="mdi mdi-plus-circle mr-1"></i> Add New Position Skill</a>
                         
              </div>
              <div class="col-sm-8">
                    
                           
                          
              </div><!-- end col-->
          </div>
            <p class="text-muted font-13 mb-4">
  
            </p>
            <div class="row mb-md-2">
              <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
              </div>
              <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
              <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3  float-right">
                  <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                    class="d-inline-flex align-items-center">Search:
                    <input type="search" class="form-control form-control-sm ml-2" placeholder="Search"
                                          [(ngModel)]="term" name="search"></label></div>
          </div>
              <!-- Search -->
              <div class="col-sm-4  col-md-3 col-lg-3 col-xl-3 float-right">
                
                      <div class="form-group ">
                          
                          <ng-select [items]="sportsInfo" bindLabel="name" bindValue="sport_id" placeholder="Select Sports" [clearable]="false" [(ngModel)]="sportName"
                          name="state" (change)="onSportsChange($event)" >
                        </ng-select>
                      </div>
              </div>
            </div>
              <!-- End search -->
            </div>
            <!-- Table -->
            <div class="table-responsive">
              <table id="basic-datatable" class="table datatables dt-responsive nowrap">
                 
                <thead>
                  <tr>
                        <th>S.No</th>
                        <th>Sport Name</th>
                        <th>Position Name</th>
                        <th>Skills</th>
                        <th>Created Date</th>
                        <th>Edit</th>
                        
                  </tr>
                </thead>
                <tbody>
                                            
                    <tr *ngFor="let positionskill of positionskillInfo  | filter:term | slice:0:10;let i = index;">
                            
                        <td>{{i + 1}}</td>
                        <td>{{positionskill.sport_id | titlecase }}</td>
                        <td>{{positionskill.position_name | titlecase}}</td>
                        <td> 
                            <div *ngFor="let skill of positionskill.skills_list | slice:0:2 ;let i = index;">
                              {{skill.name | titlecase}}
                            </div> 
                            <div  *ngIf="positionskill.skills_list?.length == 0">"--"</div>   
                        </td>
                        <td>{{positionskill.created_datetime}}</td>
                        <td>
                            <a [routerLink]="['/positionskill/edit',positionskill.sport_id,positionskill.position_skill_id]" class="action-icon"> <i
                                    class="mdi mdi-square-edit-outline"></i></a>                                                
                        </td>                                            
                        
                    </tr>
                </tbody>   
                
              </table>
              <p class="text-center" *ngIf="positionskillInfo?.length == 0">No data Available</p>
                <p class="text-center" *ngIf="noDataDefault">No data Available</p>
            </div>
            <!-- End table -->
            <div class="row justify-content-md-between align-items-md-center mt-2">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                    {{startIndex}} to
                    {{endIndex}} of {{totalRecords}}
                    entries
                </div>
              </div>
              <!-- Pagination -->
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-right pagination-rounded">
                    <ngb-pagination [collectionSize]="totalRecords" (pageChange)="onPageChange($event)"
                    [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
                </div>
              </div>
              <!-- End Pagination -->
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
