
 <div class="container-fluid">
      <div class="row">
          <div class="col-xl-12 p-0">
              <div class="card mb-0 px-3 minHeightForCard">
                <app-ui-preloader [display]="loading" [ngStyle]="{'display': displayLoader ? 'block' : 'none' }" [loaderInfo]="loaderInfo.asObservable()"></app-ui-preloader>
                  <div class="card-body paddingCard" >
                          <!-- <h3 class="mb-3 ">View User</h3> -->
                          
                          <div class="row mb-2">
                                  <h3 class="headingTitle">View Team</h3>
                                  </div>
                          <div class="row">
                                  <button  (click)="navigateView()"
                                      class="btn btn-dark waves-effect waves-light">Update</button>&nbsp;&nbsp;&nbsp;
                                  <button type="button" class="btn btn-dark waves-effect waves-light "
                                      (click)="goBack()">Close</button>
                              </div>                            
                      <div class="row">
                              <div class="col-12 mt-3 heading">
                                  <h4>Team Details</h4>
                              </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-3 mt-2 label-border-height allColMaxWidth">
                                <label class="for-label" for="first_name">Sport</label>
                            </div>
                            <div class="col-6 mt-3" id="customHeight">
                                <label>{{teamInfo?.sport_name | titlecase }}</label>
                        </div>
                          </div>
                        <div class="row">
                            <div class="col-3 mt-2 label-border-height allColMaxWidth">
                                <label class="for-label" for="first_name">Season</label>
                            </div>
                            <div class="col-8 mt-3" id="customHeight">
                                <label>{{teamInfo?.season_lable || "-"}}</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3 mt-2 label-border-height allColMaxWidth">
                                <label class="for-label" for="first_name">Level</label>
                            </div>
                            <div class="col-8 mt-3" id="customHeight">
                                <label>{{teamInfo?.level || "-"}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 mt-2 label-border-height allColMaxWidth">
                                <label class="for-label" for="first_name">Team Name</label>
                            </div>
                            <div class="col-8 mt-3" id="customHeight">
                                <label>{{teamInfo?.team_name || "-"}}</label>
                            </div>
                        </div>
                        <div class="row" *ngIf="memberInfo[0] != '{}'">
                            <div class="col-3 mt-2 label-border-common-view allColMaxWidth"  id="label-player">
                                <label class="for-label-common-view" for="first_name">Players</label>
                            </div>
                            <div class="col-9 mt-2 mb-0" id="playerHeight">
                               
                                    <table id="Player"  class="datatables dt-responsive nowrap">
                                        <thead class="border">
                                            <tr >
                                                <th class="border p-1" style="width: 50px;">#</th>
                                                <th class="border p-1">Name</th>
                                                <th class="border p-1">Position(s)</th>
                                                <th class="border p-1" >Shoots</th>
                                                <th class="border p-1" >Height</th>
                                                <th class="border p-1">Weight</th>
                                            </tr>
                                        </thead>
                                         <tbody>
                                            <tr class="border" *ngFor="let player of memberInfo[0].Player.user_list; let i = index"
                                               >
                                               <td class="border p-1">{{i+1}}</td>
                                               <td class="border p-1">{{player.first_name || "-"}}&nbsp;{{player.middle_initial}}&nbsp;
                                                {{player.last_name}}
                                               </td>
                                               <td class="border p-1" *ngIf="player?.positions.length>0">
                                                {{player?.positions[0].position_name}}&nbsp;
                                               </td>
                                               <td class="border p-1">
                                                {{player?.shoot}}&nbsp;
                                               </td>
                                              <td class="border p-1">
                                                {{ player?.height.height_main_uom}} &nbsp;{{ player?.height.height_main_unit}}&nbsp;
                                                {{ player?.height.height_sub_uom}} &nbsp;{{ player?.height.height_sub_unit}}
                                                
                                              </td>
                                              <td class="border p-1">
                                                {{ player?.weight.weight_main_uom}} &nbsp;{{ player?.weight.weight_main_unit}}
                                              </td>
                                            </tr>


                                        </tbody> 

                                    </table>
                                
                            </div>
                        </div>

                       <div class="row"  *ngIf="coachInfo[0] != '{}'">
                            <div class="col-3 mt-2 label-border-common-view allColMaxWidth" id="label-coach">
                                <label class="for-label-common-view" for="first_name">Coaches</label>
                            </div>
                            <div class="col-6 mt-2 mb-0" id="playerHeight">
                               
                                    <table id="Coach" class=" datatables dt-responsive nowrap">
                                        <thead class="border">
                                            <tr>
                                                <th  class="border p-1" style="width: 50px;">S.No</th>
                                                <th class="border p-1">Name</th>
                                                <th class="border p-1">Title</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                            <tr class="border" *ngFor="let coach of coachInfo[0].Coach.user_list; let j = index"
                                                
                                                >
                                                <td class="border p-1">{{j+1}}</td>
                                                <td class="border p-1">{{coach.first_name || "-"}}&nbsp;{{coach.middle_initial}}&nbsp;
                                                    {{coach.last_name}}
                                                   </td>
                                                   <td class="border p-1">
                                                       {{coach.title || "-"}}
                                                   </td>
                                            </tr>


                                        </tbody>

                                    </table>
                                
                            </div>
                        </div>
                        <div class="row" *ngIf="managerInfo[0] != '{}'">
                            <div class="col-3 mt-2 label-border-common-view allColMaxWidth" id="label-manager">
                                <label class="for-label-common-view" for="first_name">Managers</label>
                            </div>
                            <div class="col-6 mt-2 mb-0" id="playerHeight">
                               
                                    <table id="Manager" class="datatables dt-responsive nowrap">
                                        <thead class="border">
                                            <tr >
                                                <th  class="border p-1" style="width: 50px;">S.No</th>
                                                <th class="border p-1">Name</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="border" *ngFor="let manager of managerInfo[0].Manager.user_list; let i = index"
                                                >
                                                <td class="border p-1">{{i+1}}</td>
                                                <td class="border p-1">{{manager?.first_name || "-"}}&nbsp;{{manager?.middle_initial}}&nbsp;
                                                    {{manager?.last_name}}
                                                   </td>
                                                  
                                            </tr>


                                        </tbody>

                                    </table>
                                
                            </div>
                        </div>
                          
                           
                            
                                        <div class="row mt-3">
                                          <button  (click)="navigateView()"
                                              class="btn btn-dark waves-effect waves-light">Update</button>&nbsp;&nbsp;&nbsp;
                                          <button type="button" class="btn btn-dark waves-effect waves-light "
                                              (click)="goBack()">Close</button>
                                      </div>

                  </div> <!-- end card-body -->
              </div> <!-- end card-->
          </div>
      </div>
  </div>
