
.color:hover{
    cursor: pointer;
}
#form .form-control{
    padding: 0.45rem 2px !important;
}


    #form .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
        padding: 0 !important;
    }

 