<app-ui-preloader [display]="loading" *ngIf="displayLoader"></app-ui-preloader>
<div class="row">
        <div class="col-lg-6">
            <div class="card-box">
                <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">View Import Details</h5>
                
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">Upload Date/Time </label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2" *ngIf="getLevelValueArray.imported_datetime.toDate==''"> --- </label>
                        <label for="inlineRadio2" *ngIf="getLevelValueArray.imported_datetime.toDate!=''"> {{getLevelValueArray.imported_datetime.toDate() | date}} </label>
                    </div>
                </div> 
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">Uploaded By</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.imported_by}} </label>
                    </div>
                </div> 
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">Total Rows Processed</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.total_records_found || "0"}} </label>
                    </div>
                </div> 
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">Total Rows Succeeded</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.processed_records || "0"}} </label>
                    </div>
                </div> 
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">Total Rows Rejected</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.error_records || "0"}} </label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">User Records Created</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.total_user_created || "0"}} </label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">Player Records Processed</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.total_players_found || "0"}} </label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">Player Records Created</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.player_records_created || "0"}} </label>
                    </div>
                </div> 
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">Duplicate Player Records</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.player_duplicate_records_found || "0"}} </label>
                    </div>
                </div> 
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">Guardian Records Processed</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.total_guardains_found || "0"}} </label>
                    </div>
                </div> 
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">Guardian Records Created</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.guardian_records_created || "0"}} </label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">Duplicate Guardian Records</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.guardian_duplicate_records_found || "0"}} </label>
                    </div>
                </div> 
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">Season</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.season_name}} </label>
                    </div>
                </div>   
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">Sport</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.sports_name}} </label>
                    </div>
                </div>    
                <div class="form-group mb-3">
                    <label for="product-name" style="width:200px;">File Name</label>                     
                    <div class=" form-check-inline">
                        <label for="inlineRadio2"> {{getLevelValueArray.imported_file_name}} </label>
                    </div>
                </div>   
     
  
                <div class="col-12">
                    <div class="text-center mb-3"> 
                        <button (click)="listUser()" type="button" class="btn w-sm btn-light waves-effect" style="float: left;">Cancel</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!--
                        <button *ngIf="!getLevelValueArray.is_active" (click)="editLevel(getLevelValueArray.level_id)" type="button" class="btn w-sm btn-success ml-1" style="float: right;">Edit</button>
                        -->
                        
                    </div>
                </div> <!-- end col -->
        
            </div> <!-- end card-box -->
        </div> <!-- end col -->
 
    </div>
    <!-- end row -->