<!-- ========== Left Sidebar Start ========== -->
<ng-template #contentTemplate>
    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu" #sideMenu>

            <li class="menu-title font-16" id="mrgTop">Navigation Menu</li>

            <li>
                <a (click)="welcomeRouter()" class="waves-effect" [ngClass]="{'is-active': isWelcome}"
                    aria-expanded="false">
                    <span> Welcome</span>
                </a>

            </li>
            <li *ngIf="custAdmin || admin">
                <a (click)="dashboardRouter()" class="waves-effect" [ngClass]="{'is-active': isDashboard}"
                    aria-expanded="false">
                    <span> Dashboard</span>
                </a>

            </li>
            <li *ngIf="custAdmin || admin">
                <a (click)="organizationRouter()" class="waves-effect" [ngClass]="{'is-active': isOrganization}"
                    aria-expanded="false" *ngIf="custAdmin || !adminWithId" style="display: none;">
                    <span>Organization Details</span>
                </a>
                <a (click)="organizationInfoRouter()" class="waves-effect" [ngClass]="{'is-active': isOrganization}"
                    aria-expanded="false" *ngIf="custAdmin || !adminWithId">
                    <span>Organization Details </span>
                </a>
                


                <a (click)="organizationRouter()"   *ngIf="admin && adminWithId" class="waves-effect"
                    [ngClass]="{'is-active': isOrganization}" aria-expanded="false" style="display: none;">
                    <span> Organizations</span>
                </a>
                
                <a (click)="organizationListRouter()"   *ngIf="admin && adminWithId" class="waves-effect"
                    [ngClass]="{'is-active': isOrganization}" aria-expanded="false">
                    <span> Organizations </span>
                </a>
            </li>
            <li *ngIf="sysAdminWithId && (custAdmin || admin)"  style="display: none;">
                <a (click)="season()" class="waves-effect" [ngClass]="{'is-active': isSeason}" aria-expanded="false">
                    <span>Seasons</span>
                </a>
            </li>
            
            <li *ngIf="sysAdminWithId && (custAdmin || admin)">
                <a (click)="seasonlist()" class="waves-effect" [ngClass]="{'is-active': isSeason}" aria-expanded="false">
                    <span>Seasons </span>
                </a>
            </li>
            <li *ngIf="custAdmin || admin" [routerLinkActive]="['active']" class="isChild">
                <a class="waves-effect" aria-expanded="false" [ngClass]="{'is-active': isUserModule}">
                    <span> User Management</span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false" [routerLinkActive]="['in']">
                    <li style="display: none;">
                        <a (click)="createUser()" [ngStyle]="{'display': !isUserModuleLoading ? 'block' : 'none' }"  [routerLink]="[userRouter]" class="waves-effect" [ngClass]="{'is-active': isUser}">Users</a>
                        <a class="waves-effect" [ngStyle]="{'display': isUserModuleLoading ? 'block' : 'none' }" [ngClass]="{'is-active': isUser}">Users</a>
                    </li>
                    <li *ngIf="sysAdminWithId" style="display: none;">                        
                        <a (click)="createUserImport()" [ngClass]="{'is-active': isUserImport}" [routerLink]="[importUserRouter]"
                            class="waves-effect">Import Users</a>
                    </li>
                    <li [routerLinkActive]="['active']">                        
                        <a (click)="userList()" [ngClass]="{'is-active': isUserList}" [routerLink]="[userListRouter]"
                            class="waves-effect">Users </a>
                    </li>
                    <li *ngIf="sysAdminWithId"  [routerLinkActive]="['active']">                        
                        <a (click)="createUserListImport()" [ngClass]="{'is-active': isUserImport}" [routerLink]="[importUserRouter]"
                            class="waves-effect">Import Users </a>
                    </li>
                </ul>
            </li>
            <li [ngStyle]="{'display': sysAdminWithId ? 'block' : 'none' }" *ngIf="custAdmin || admin" class="isChild">
                <a class="waves-effect" aria-expanded="false" [ngClass]="{'is-active': isFeedModule}">
                    <span> Feed Management</span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li  style="display: none;">
                        <a (click)="tags()" class="waves-effect" [ngClass]="{'is-active': isTag}" aria-expanded="false">
                            <span>Tags</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="tagslist()" class="waves-effect" [ngClass]="{'is-active': isTag}" aria-expanded="false">
                            <span>Tags </span>
                        </a>
                    </li>
                    <li style="display: none;">
                        <a (click)="cannedResponse()" class="waves-effect" [ngClass]="{'is-active': isCannedResponse}"
                            aria-expanded="false">
                            <span>Canned Responses</span>
                        </a>
                    </li>
                    
                    <li>
                        <a (click)="cannedResponselist()" class="waves-effect" [ngClass]="{'is-active': isCannedResponse}"
                            aria-expanded="false">
                            <span>Canned Responses </span>
                        </a>
                    </li>
                </ul>
            </li>




            <li [ngStyle]="{'display': sysAdminWithId ? 'block' : 'none' }" *ngIf="custAdmin || admin" [routerLinkActive]="['active']" class="isChild">
                <a class="waves-effect" aria-expanded="false" [ngClass]="{'is-active': teamDropDown}">
                    <!-- <i class="fe-pocket"></i> -->
                    <span> Team Management</span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false" [routerLinkActive]="['in']">
                    <li [routerLinkActive]="['active']">
                        <a (click)="createTeam()" [routerLink]="[teamRouter]" class="waves-effect" [ngClass]="{'is-active': team}">Teams</a>
                    </li>                    
                </ul>
                
                <ul class="nav-second-level collapse" aria-expanded="false" >
                    <li [routerLinkActive]="['active']">
                        <a (click)="createTeamList()" class="waves-effect" [ngClass]="{'is-active': team}">Teams *</a>
                    </li>                    
                </ul> 
            </li>

            
            <li [ngStyle]="{'display': sysAdminWithId ? 'none' : 'none' }" *ngIf="custAdmin || admin" class="isChild" >
                <a class="waves-effect" aria-expanded="false" [ngClass]="{'is-active': teamDropDown}">
                    <span> Team Management *</span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false" >
                    <li>
                        <a (click)="createTeamList()" class="waves-effect" [ngClass]="{'is-active': team}">Teams *</a>
                    </li>                    
                </ul> 
            </li>

            <li *ngIf="custAdmin || admin" class="isChild">
                <a class="waves-effect" aria-expanded="false" [ngClass]="{'is-active': isCommon}">
                    <!-- <i class="fe-pocket"></i> -->
                    <span> Setup </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">

                    <li *ngIf="!sysAdminWithId" style="display: none;">
                        <a (click)="sports()" class="waves-effect" aria-expanded="false"
                            [ngClass]="{'is-active': isSports}">
                            <!-- <i class="fe-users"></i> -->
                            <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                            <span>Sports</span>
                        </a>
                    </li>
                    <li *ngIf="!sysAdminWithId">
                        <a (click)="sportslist()" class="waves-effect" aria-expanded="false"
                            [ngClass]="{'is-active': isSports}">
                            <!-- <i class="fe-users"></i> -->
                            <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                            <span>Sports </span>
                        </a>
                    </li>
                    <li *ngIf="!sysAdminWithId" style="display: none;">
                        <a (click)="position()" class="waves-effect edit-icon" aria-expanded="false"
                            [ngClass]="{'is-active': isPosition}">
                            <!-- <i class="fe-users"></i> -->
                            <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                            <span>Positions</span>
                        </a>
                    </li>
                    
                    <li *ngIf="!sysAdminWithId">
                        <a (click)="positionlist()" class="waves-effect edit-icon" aria-expanded="false"
                            [ngClass]="{'is-active': isPosition}">
                            <!-- <i class="fe-users"></i> -->
                            <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                            <span>Positions </span>
                        </a>
                    </li>
                    <li *ngIf="sysAdminWithId && (custAdmin || admin)" style="display: none;">
                        <a (click)="level()" class="waves-effect" [ngClass]="{'is-active': isLevel}"
                            aria-expanded="false">
                            <!-- <i class="fe-users"></i> -->
                            <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                            <span>Levels</span>
                        </a>
                    </li>
                    
                    <li *ngIf="sysAdminWithId && (custAdmin || admin)">
                        <a (click)="levellist()" class="waves-effect" [ngClass]="{'is-active': isLevel}"
                            aria-expanded="false">
                            <!-- <i class="fe-users"></i> -->
                            <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                            <span>Levels </span>
                        </a>
                    </li>
                    
                    <li style="display: none;">
                        <a (click)="playermetadata()" class="waves-effect" aria-expanded="false"
                            [ngClass]="{'is-active': isPlayerMeta}">
                            <!-- <i class="fe-users"></i> -->
                            <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                            <span>Player Custom Fields</span>
                        </a>
                    </li>

                    <li>
                        <a (click)="playermeta()" class="waves-effect" aria-expanded="false"
                            [ngClass]="{'is-active': isPlayerMetaNew}">
                            <!-- <i class="fe-users"></i> -->
                            <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                            <span>Player Custom Fields </span>
                        </a>
                    </li>
                    
                    <li style="display: none;">
                        <a (click)="coachmetadata()" class="waves-effect" aria-expanded="false"
                            [ngClass]="{'is-active': isCoachMeta}">
                            <!-- <i class="fe-users"></i> -->
                            <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                            <span>Coach Custom Fields</span>
                        </a> 
                    </li>

                    <li>
                        <a (click)="coachmeta()" class="waves-effect" aria-expanded="false"
                            [ngClass]="{'is-active': isCoachMeta}">
                            <!-- <i class="fe-users"></i> -->
                            <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                            <span>Coach Custom Fields </span>
                        </a> 
                    </li>

                    
                    <li style="display: none;">
                        <a (click)="managermetadata()" class="waves-effect" aria-expanded="false"
                            [ngClass]="{'is-active': isManagerMeta}">
                            <!-- <i class="fe-users"></i> -->
                            <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                            <span>Manager Custom Fields</span>
                        </a>
                    </li>

                    <li>
                        <a (click)="managermeta()" class="waves-effect" aria-expanded="false"
                            [ngClass]="{'is-active': isManagerMeta}">
                            <!-- <i class="fe-users"></i> -->
                            <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                            <span>Manager Custom Fields </span>
                        </a>
                    </li>


                    <!-- <li>
                        <a routerLink="/positionskill" class="waves-effect" aria-expanded="false" [ngClass]="{'is-active': isPositionSkill}">
                        
                            <span>Position Skills</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/skillcategories" class="waves-effect" aria-expanded="false" [ngClass]="{'is-active': isSkillCat}">
                           
                            <span>Skill Categories</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/skill" class="waves-effect" aria-expanded="false" [ngClass]="{'is-active': isSkill}">
                            
                            <span>Skills</span>
                        </a>
                    </li> -->

                </ul>
            </li>
            <!-- <li>
                <a  class="waves-effect" aria-expanded="false">
                    
                    <span> Settings</span>
                </a>
            </li> -->


        </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
</ng-template>


<div class="left-side-menu">
    <div class="slimscroll-menu" appSlimScroll *ngIf="!isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>

    <div class="slimscroll-menu" *ngIf="isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
</div>
<!-- Left Sidebar End -->