<app-ui-preloader [display]="loading" *ngIf="displayLoader"></app-ui-preloader>
<div class="row">
    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="header-title mb-4" *ngIf="!selectedOrganizationId" >Update Player Custom Field</h4>
            <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">Player Custom Field Details</h5>

            <form class="needs-validation" name="editplayermetaForm" [formGroup]="editplayermetaForm"
                (ngSubmit)="onSubmit(editplayermetaForm)" novalidate>

                <div class="form-group mb-3">
                    <label for="sport_id">Sport<span class="text-danger">*</span></label>
                    <ng-select [items]="getAllSportmetaData" [(ngModel)]="getAllPlayermetaData.sport_id"
                    bindLabel="name" bindValue="sport_id"
                    id="sport_id" name="sport_id" formControlName="sport_id"
                    placeholder="Select sport" [ngClass]="{ 'is-invalid': submitted && f.sport_id.errors }">
                    </ng-select>
                    <!--
                    <select class="form-control select2" id="sport_id" name="sport_id" formControlName="sport_id"  [(ngModel)]="getAllPlayermetaData.sport_id" [ngClass]="{ 'is-invalid': submitted && f.sport_id.errors }">
                        <option *ngFor="let Sportdata of getAllSportmetaData let i = index;" [ngValue]="Sportdata.sport_id">{{Sportdata.name}}</option>
                    </select>
                    -->
                    <div *ngIf="submitted && f.sport_id.errors" class="invalid-feedback">
                        <div *ngIf="f.sport_id.errors.required">Sport Name is required.</div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="field_name">Field Name<span class="text-danger">*</span></label>
                    <input type="text" id="field_name" name="field_name" formControlName="field_name" [ngModel]="getAllPlayermetaData.field_name" class="form-control" placeholder="Enter field name" [ngClass]="{ 'is-invalid': submitted && f.field_name.errors }"/>
                    <div *ngIf="submitted && f.field_name.errors" class="invalid-feedback">
                        <div *ngIf="f.field_name.errors.required">Field Name is required.</div>
                    </div>
                
                </div>
 
                <div class="form-group mb-3">
                    <label for="field_type">Field Type<span class="text-danger">*</span></label>
                    <ng-select [items]="getAllTypemetaData" [(ngModel)]="getAllPlayermetaData.field_type"
                    bindLabel="name" bindValue="name"
                    id="field_type" name="field_type" formControlName="field_type"
                    placeholder="Select field type" (change)="OnFieldTypeChange($event)" [ngClass]="{ 'is-invalid': submitted && f.field_type.errors }">
                    </ng-select> 
                    <!--
                    <select class="form-control select2" id="field_type" name="field_type" formControlName="field_type" [(ngModel)]="getAllPlayermetaData.field_type" [ngClass]="{ 'is-invalid': submitted && f.field_type.errors }">
                        <option *ngFor="let Typedata of getAllTypemetaData let i = index;" [ngValue]="Typedata.name">{{Typedata.name}}</option>
                    </select>
                    -->
                    <div *ngIf="submitted && f.field_type.errors" class="invalid-feedback">
                        <div *ngIf="f.field_type.errors.required">Field Type is required.</div>
                    </div>
                </div>
             
                <div class="form-group mb-3">
                    <label for="product-reference">Is Required <span class="text-danger">*</span></label>
                    <br/>
                    <div class="radio form-check-inline">
                        <input type="radio" id="inlineRadioRequire1" name="is_required" formControlName="is_required" [(ngModel)]="is_required_value" [value]="true" required />
                        <label for="inlineRadio1"> Yes </label>
                    </div>
                    <div class="radio form-check-inline">
                        <input type="radio" id="inlineRadioRequire2" name="is_required" formControlName="is_required" [(ngModel)]="is_required_value" [value]="false" required />
                        <label for="inlineRadio2"> No </label>
                    </div>
                    <br/>
                    <div *ngIf="submitted && f.is_required.errors" class="invalid-feedback">
                        <div *ngIf="f.is_required.errors.required">Required Option is required.</div>
                    </div>
                </div>
    
                <div class="form-group mb-3">
                    <label for="product-name">Is Editable <span class="text-danger">*</span></label>
                    <br/>
                    <div class="radio form-check-inline">
                        <input type="radio" id="inlineRadioEdit1" name="is_editable" formControlName="is_editable" [(ngModel)]="is_editable_value" [value]="true" required />
                        <label for="inlineRadio1"> Yes </label>
                    </div>
                    <div class="radio form-check-inline">
                        <input type="radio" id="inlineRadioEdit2" name="is_editable" formControlName="is_editable" [(ngModel)]="is_editable_value" [value]="false" required />
                        <label for="inlineRadio2"> No </label>
                    </div>
                    <br/>
                    <div *ngIf="submitted && f.is_editable.errors" class="invalid-feedback">
                        <div *ngIf="f.is_editable.errors.required">Editable Option is required.</div>
                    </div>
                </div>
    
                <div class="form-group mb-3">
                    <label for="product-name">Is Deletable <span class="text-danger">*</span></label>
                    <br/>
                    <div class="radio form-check-inline">
                        <input type="radio" id="inlineRadioDelete1" name="is_deletable" formControlName="is_deletable" [(ngModel)]="is_deletable_value" [value]="true" required />
                        <label for="inlineRadio1"> Yes </label>
                    </div>
                    <div class="radio form-check-inline">
                        <input type="radio" id="inlineRadioDelete2" name="is_deletable" formControlName="is_deletable" [(ngModel)]="is_deletable_value" [value]="false" required />
                        <label for="inlineRadio2"> No </label>
                    </div>
                    <br/>
                    <div *ngIf="submitted && f.is_deletable.errors" class="invalid-feedback">
                        <div *ngIf="f.is_deletable.errors.required">Deletable option is required.</div>
                    </div>
                </div>

                <div class="form-group mb-3" id="customHeight" *ngIf="editplayermetaForm?.value.field_type === 'Text Field'">
                    <label for="field_value">Value</label>
                    <input type="text" [ngModel]="getAllPlayermetaData.field_value" id="field_value" name="field_value" formControlName="field_value" class="form-control" placeholder="Enter field value" />
                </div>
            
                <!-- <div formArrayName="value" class="form-group mb-3" id="customHeight" *ngIf="editplayermetaForm?.value.field_type !== 'Text Field' && editplayermetaForm?.value.field_type !== ''">
                    <label for="field_value" style="width: 100%;">Value(s) 
                    <a style="float:right;" class="color font-weight-bold edit-icon" (click)="addnewfield()" ><i class="fa fa-plus" aria-hidden="true"></i></a></label>  
                    
                    <div *ngIf="getAllPlayermetaData.value?.length > 0">
                        <div class="row" *ngFor="let editplayerdata of getAllPlayermetaData?.value; let i = index;" style="padding: 10px 0px;" [formGroupName]="i">

                            <input type="text" value="{{editplayerdata}}" formControlName="optionvalue" class="form-control" id="optionvalue_{{i}}" placeholder="Enter value" style="width: 80%; margin: 0px 10px;" />
                            <button type="button" class="btn btn-danger waves-effect waves-light" (click)="removefield(i)"><i class="mdi mdi-close"></i></button><br/>
                            
                        </div>
                    </div>
                    
                    <div class="row" style="padding: 10px 0px;" 
                    *ngFor="let individualvalue of editplayermetaForm?.get('value')?.controls; let valueIndex = index"
                    [formGroupName]="valueIndex">
                        
                        <input type="text" formControlName="optionvalue" class="form-control" id="optionvalue_{{valueIndex}}" placeholder="Enter value" style="width: 80%; margin: 0px 10px;" />
                        <button type="button" class="btn btn-danger waves-effect waves-light" (click)="removefield(valueIndex)"><i class="mdi mdi-close"></i></button><br/>
                        
                        <div *ngIf="individualvalue.controls.optionvalue.errors?.required && submitted" class="input-error-msg text-danger" style="padding: 5px 10px;">Option Value is required.</div>

                    </div>                    

                </div> -->

                <div formArrayName="value" class="form-group mb-3" id="customHeight" *ngIf="editplayermetaForm?.value.field_type !== 'Text Field' && editplayermetaForm?.value.field_type !== ''">
                    <label for="field_value" style="width: 100%;">Value(s) 
                    <a style="float:right;" class="color font-weight-bold edit-icon" (click)="addnewfield()" ><i class="fa fa-plus" aria-hidden="true"></i></a></label>  
                    
                    <div *ngFor="let contact of duplicateColumns.controls; let valueIndex = index;" style="padding: 10px 0px;">
                        <div [formGroupName]="valueIndex" class="row" >
                            <input type="text" formControlName="optionvalue" class="form-control" id="optionvalue_{{valueIndex}}" placeholder="Enter value" style="width: 80%; margin: 0px 10px;" />
                            <button type="button" class="btn btn-danger waves-effect waves-light test{{valueIndex}}" (click)="removefield(valueIndex)"><i class="mdi mdi-close"></i></button><br/>

                        </div>
                        
                    </div>
                </div>
            

                <!--
                <div class="form-group mb-3" id="customHeight" *ngIf="editplayermetaForm?.value.field_type !== 'Text Field'">
                    <label for="field_value">Value(s)</label>  
                    <div class="row" *ngFor="let field_value of getAllPlayermetaData.value let i = index;" style="padding: 10px 0px;">

                        <input type="text" value="{{field_value}}" id="field_value_{{i}}" name="field_value[{{valueIndex}}]" formControlName="field_value" class="form-control" placeholder="Enter Field Value" style="width: 80%; margin: 0px 10px;" /> 
                        <button type="button" class="btn btn-danger waves-effect waves-light" (click)="removefield(i)"><i class="mdi mdi-close"></i></button><br/>

                    </div>

                    <div class="row" >
                        <div class="col-3 mt-2">
                        </div>
                        <div class="col-3 mt-2" id="customHeight">
                            <a  class="color font-weight-bold edit-icon" (click)="addnewfield()" >Add Value</a>
                        </div>
                    </div>
                      
                </div>
                -->

                <!--
                <div class="form-group mb-3" formArrayName="value" *ngIf="editplayermetaForm?.value.field_type !== 'Text Field'">
                    <label for="optionvalue">Value(s)</label>    
                    <div class="row" *ngFor="let individualvalue of getAllPlayermetaData.value; let valueIndex = index" [formGroupName]="valueIndex"> 
                        <div class="col-4 mt-2" id="customHeight">

                            <input type="text" formControlName="optionvalue" class="form-control" id="optionvalue_{{valueIndex}}" class="form-control" placeholder="Enter value" />
                            
                            <div *ngIf="individualvalue.controls.optionvalue.errors?.required && submitted" class="input-error-msg text-danger">Option Value is required.</div>
                        </div> 
                        <div class="col-4 mt-2" id="customHeight">
                            <button type="button" class="btn btn-danger waves-effect waves-light" (click)="removefield(i)"><i class="mdi mdi-close"></i></button>
                        </div>  
                    </div> 
                </div>
                -->

            <div class="col-12">
                <div class="text-center mb-3">
                    <button (click)="listPlayermeta()" type="button" class="btn w-sm btn-light waves-effect" style="float:left;">Cancel</button>


                    <button type="submit" class="btn w-sm btn-success ml-1" style="float:right;">Save</button>
                </div>
            </div> <!-- end col -->
        </form>    

        </div> <!-- end card-box -->
    </div> <!-- end col -->

</div>
<!-- end row -->