<app-ui-preloader [display]="loading" *ngIf="displayLoader"></app-ui-preloader>
<div class="row">
    <div class="col-12">
        <div class="card-box">
            

            <button (click)="addSeason()" type="button" class="btn btn-sm btn-blue waves-effect waves-light float-right">
                <i class="mdi mdi-plus-circle"></i> Add Seasons
            </button>
            <h4 class="header-title mb-4">Seasons</h4>
            
            <table class="table table-hover m-0 table-centered dt-responsive nowrap w-100" id="tickets-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>Sport</th>
                    <th>Seasons Name</th>
                    <th>Seasons Start Date</th>
                    <th>Seasons End Date</th>
                    <th class="hidden-sm">Action</th>
                </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let Seasondata of data let i = index;">
                    
                        <td><b>{{i+1}}</b></td>
                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Seasondata.sports_name}}</span>
                            </a>
                        </td>
                        
                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Seasondata.season_name}}</span>
                            </a>
                        </td>
                            
                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Seasondata.season_start_date | date}}</span>
                            </a>
                        </td>

                        <td>
                            <a href="javascript: void(0);" class="text-body">
                                <span class="ml-2">{{Seasondata.season_end_date | date}}</span>
                            </a>
                        </td>
     
                        <td>
                            <div class="btn-group dropdown">
                                <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" (click)="viewSeason(Seasondata.season_id)"><i class="mdi mdi-eye mr-2 text-muted font-18 vertical-middle"></i>View</a>                                    
                                    <a class="dropdown-item" (click)="editSeason(Seasondata.season_id)"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit</a>
                                    <a class="dropdown-item" (click)="deleteSeason(Seasondata.season_id,Seasondata.season_name)"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>

                                </div>
                            </div>
                        </td>    
                    </tr>     

                </tbody>
            </table>
        </div>
    </div><!-- end col -->
</div>
<!-- end row -->


