<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-pattern">
          <div class="card-body p-3">
            <!-- Logo -->
            <div class="text-center w-75 m-auto">
              <a routerLink="/account/login">
                <img src="assets/images/logo-sg.png" alt="" height="85">
              </a>
              <p class=" mb-4 athletes">A better way to develop your athletes!</p>

            </div>


            <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>

              <app-loader [display]="loading"></app-loader>

              <ngb-alert type="danger" *ngIf="errors" [dismissible]="false">{{ error }}</ngb-alert>
              <!-- <ngb-alert type="light" *ngIf="success" [dismissible]="false">{{ success }}</ngb-alert> -->

              <h3 class="subHeading">Forgot Password</h3>

              <p class="mt-2 smallContent sub-heading mb-3" *ngIf="success">An email has been sent with instructions on
                resetting your password. </p>
              <p class="mt-2 smallContent sub-heading mb-3" *ngIf="success">Thank You,</p>
              <p class="mt-2 smallContent sub-heading mb-3" *ngIf="success">SportsGravy Customer Care</p>

              <p class="mt-2 smallContent sub-heading" *ngIf="!success">Enter your email and we'll send you instructions
                to reset your password.</p>
              <div class="form-group mb-3" *ngIf="!success">
                <label for="email" class="color-b font-weight">Email Address</label>

                <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email"
                  placeholder="Enter email address" />

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email Address is required</div>
                  <div *ngIf="f.email.errors?.pattern">Enter a valid email.</div>
                </div>
              </div>

              <div class="" *ngIf="!success">
                <button type="submit" class="btn btn-dark w-35 waves-effect waves-light">Submit</button>
              </div>
            </form>

          </div> <!-- end card-body-->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-white">Back to <a routerLink="/account/login" class="text-white ml-1"><b>Sign In</b></a></p>
          </div> <!-- end col -->
        </div>
        <!-- end row -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
  &copy; Sports Gravy,LLC
</footer>